Repository BryanFotso/rnic-copro-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff-lint, dbt-parse

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: sqlfluff-lint
        name: sqlfluff lint
        entry: uv run sqlfluff lint --config .sqlfluff
        language: system
        files: ^rnic_dbt/.*\.sql$
      - id: dbt-parse
        name: dbt parse
        entry: bash -c 'cd rnic_dbt && dbt deps --profiles-dir . && dbt parse --profiles-dir .'
        language: system
        pass_filenames: false
        files: ^rnic_dbt/(models|macros|tests|seeds|snapshots|dbt_project\.yml)

feat : add documentation
  docs/anah-fiche-descriptive-rnc-open-data-versionoctobre2025.pdf
Due: none

feat : update gitignore to include data files
  .gitignore
Due: none

feat : add makefile to simplify comands
  Makefile
Due: none

feat : set dbt project and setup bronze layer
  rnic_dbt/.gitignore
  rnic_dbt/.user.yml
  rnic_dbt/Makefile
  rnic_dbt/README.md
  rnic_dbt/dbt_project.yml
  rnic_dbt/models/bronze/rnic2022.sql
  rnic_dbt/models/bronze/rnic2023.sql
  rnic_dbt/models/bronze/rnic2024.sql
  rnic_dbt/models/bronze/rnic2025.sql
  rnic_dbt/models/bronze/sources.yml
  rnic_dbt/profiles.yml
Due: sqlfluff-lint, dbt-parse

feat : setup silver model and update materialisation
  rnic_dbt/dbt_project.yml
  rnic_dbt/models/bronze/rnic2022.sql
  rnic_dbt/models/bronze/rnic2023.sql
  rnic_dbt/models/bronze/rnic2024.sql
  rnic_dbt/models/bronze/rnic2025.sql
  rnic_dbt/models/silver/schema.yml
  rnic_dbt/models/silver/silver_rnic.sql
Due: sqlfluff-lint, dbt-parse

feat : update makefile
  Makefile
Due: none

feat: initialize Metabase Docker setup for DuckDB
  .gitignore
  README.md
  docker-compose.metabase.yml
  metabase/Dockerfile
Due: none

feat: update SQL models and schema with new fields and coalesce logic
  rnic_dbt/models/bronze/rnic2022.sql
  rnic_dbt/models/bronze/rnic2023.sql
  rnic_dbt/models/bronze/rnic2024.sql
  rnic_dbt/models/bronze/rnic2025.sql
  rnic_dbt/models/silver/schema.yml
  rnic_dbt/models/silver/silver_rnic.sql
  rnic_dbt/profiles.yml
Due: sqlfluff-lint, dbt-parse

feat: update Metabase Docker setup and configuration for improved environment variables and health checks
  docker-compose.metabase.yml
  metabase/Dockerfile
Due: none

feat: update Dockerfile and SQL model to enhance data handling and environment configuration
  docker-compose.metabase.yml
  metabase/Dockerfile
  rnic_dbt/models/silver/silver_rnic.sql
Due: sqlfluff-lint, dbt-parse

feat : update project dependencies
  pyproject.toml
Due: none

feat : update gitignore files to include env files
  .gitignore
  rnic_dbt/.gitignore
Due: none

fix : default python path for the project
  .vscode/settings.json
Due: none

refacto : upgrade to dbt fusion
  rnic_dbt/dbt_project.yml
  rnic_dbt/models/bronze/sources.yml
Due: dbt-parse

feat : update bronze layer for 1 model to respresent a raw file
  rnic_dbt/macros/load_rnic_csv_file.sql
  rnic_dbt/models/bronze/rnic2022.sql
  rnic_dbt/models/bronze/rnic2023.sql
  rnic_dbt/models/bronze/rnic2024.sql
  rnic_dbt/models/bronze/rnic2025.sql
  rnic_dbt/models/bronze/rnic_2022_t2.sql
  rnic_dbt/models/bronze/rnic_2022_t3.sql
  rnic_dbt/models/bronze/rnic_2022_t4.sql
  rnic_dbt/models/bronze/rnic_2023_t1.sql
  rnic_dbt/models/bronze/rnic_2023_t2.sql
  rnic_dbt/models/bronze/rnic_2023_t3.sql
  rnic_dbt/models/bronze/rnic_2023_t4.sql
  rnic_dbt/models/bronze/rnic_2024_t1.sql
  rnic_dbt/models/bronze/rnic_2024_t2.sql
  rnic_dbt/models/bronze/rnic_2024_t3.sql
  rnic_dbt/models/bronze/rnic_2024_t4.sql
  rnic_dbt/models/bronze/rnic_2025_t1.sql
  rnic_dbt/models/bronze/rnic_2025_t2.sql
  rnic_dbt/models/bronze/rnic_2025_t3.sql
  rnic_dbt/models/bronze/rnic_2025_t4.sql
  rnic_dbt/models/bronze/sources.yml
Due: sqlfluff-lint, dbt-parse
